# requirements for a development environment
# (also) to get the docs built properly by RTD
-e .[devel]
sphinx
sphinx_rtd_theme
# see https://github.com/datalad/datalad-next/issues/331
git+https://github.com/datalad/datalad@maint
